*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond';
    color: black;
    /* scrollbar-gutter: stable;  */
    font-family: 'Inter';
}

body {
    background-color: #f6f7f8;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

.d-none {
    display: none !important;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

ul {
    list-style-type: none;
}