.main-content h1 {
    align-self: flex-start;
    margin: 20px 0;
}


.required {
    color: red;
    vertical-align: super;
}

.page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    gap: 40px;
    padding: 20px 0;
    margin-right: 20px;
}

.task-container, .priority-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

.field-description input{
    border: 1px solid #D1D1D1;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}


.field-description textarea {
    border: 1px solid #D1D1D1;
    padding: 20px 8px;
    border-radius: 10px;
    font-size: 24px;
    resize: none;
    cursor: pointer;
    height: 200px;
}

select {
    border: 1px solid #D1D1D1;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.separation-bar {
    height: 100%;
    width: 2px;
    background-color: #D1D1D1;
    border-radius: 2px;
}

.priority-stages {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.txt-img {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.urgent-img {
    background-image: url(../assets/img/prio_urgent.svg);
}

.medium-img {
    background-image: url(../assets/img/prio_medium.svg);
}

.low-img {
    background-image: url(../assets/img/prio_low.svg);
}

.prio-img {
    height: 24px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D1D1D1;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: white;
}

.dropdown.active {
    border: 2px solid #29abe2;
}

.dropdown button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown-arrow {
    display: inline-block;
    background-image: url(../assets/img/arrow_drop_down.svg);
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.dropdown-arrow.active {
    transform: rotate(180deg);
}

.contacts-list {
    background-color: white;
    border: 1px solid #D1D1D1;
    padding: 8px 0;
    border-radius: 10px;
}

.contacts-list.active {
  opacity: 1;
  transform: translateY(0);
  max-height: 200px; /* large enough to fit content */
}

.contacts-list ul {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    padding-left: 0;
}

.contacts-list li {
    padding: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px
}

.category-list {
    background-color: white;
    border: 1px solid #D1D1D1;
    padding: 8px 0;
    border-radius: 10px;
}

.category-list ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.category-list li {
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.username {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-circle {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
}

.checkbox {
    background-image: url(../assets/img/check_button_unchecked.svg);
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-right: 16px;
}

.checkbox.checked {
    background-image: url(../assets/img/check_button_checked.svg);
}

.contacts-icons {
    display: flex;
}

.subtask-field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

.subtask-input {
    border: 1px solid #D1D1D1;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.subtask-field-description .subtask-input.active {
    border: 2px solid #29abe2;
}

.subtask-input:focus{
    outline: none;
}

.subtask-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    width: 100%;
}


#subtask {
    width: 100%;
    padding-right: 70px;
    box-sizing: border-box;
}

.subtask-actions {
    display: none;
    gap: 6px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    gap: 6px;
}

.subtask-actions.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtask-close-btn {
    background-image: url(../assets/img/cancel_x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.subtask-btn-divider {
    height: 24px;
    width: 2px;
    background-color: #EEEEEE;
    border-radius: 2px;
}

.subtask-submit-btn {
    background-image: url(../assets/img/check_dark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    margin-top: 80px;
    margin-right: 20px;
}

.bottom-container p {
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
} 

button {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:first-child{
    background-color: white;
}

.clear-btn {
    background-image: url(../assets/img/cancel_x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}

.buttons button:nth-child(2){
    background-color: #2A3647;
    color: white;
    font-weight: 800;
}

/* Hover effects and box styling */
.txt-img:hover {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.txt-img.urgent.active {
    background-color: #ff3d00;
}

.txt-img.urgent.active span {
    color: white;
}

.urgent-img.active {
    background-image: url(../assets/img/prio_urgent_white.svg);
}

.txt-img.medium.active {
    background-color: #ffa800;
}

.txt-img.medium.active span {
    color: white;
}

.medium-img.active {
    background-image: url(../assets/img/prio_medium_white.svg);
}

.txt-img.low.active {
    background-color: #7ae229;
}

.txt-img.low.active span {
    color: white;
}

.low-img.active {
    background-image: url(../assets/img/prio_low_white.svg);
}

.contacts-list li:hover {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.category-list li:hover {
    background-color: #EEEEEE;
}

.dropdown button:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
}

.subtask-close-btn:hover,
.subtask-submit-btn:hover {
    background-color: #EEEEEE;
    border-radius: 50%
}

.buttons button:first-child:hover{
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    color: #29abe2;
    border: 1px solid #29abe2;
}

.buttons button:first-child:hover .clear-btn{
    background-image: url(../assets/img/cancel_x_hover.svg);
}

.buttons button:nth-child(2):hover {
    color: white;
    background-color: #29abe2;
    border: 1px solid #29abe2;
}

/* Media queries */

@media(max-width: 1500px) {
    .buttons {
        width: 30%;
    }

    .bottom-container{
        margin-top: 32px;
    }
}

@media(max-width: 1220px){
    .page-container {
        gap: 16px;
        font-size: 20px;
    }

    .priority-stages {
        gap: 8px;
    }

    .field-description input, 
    .field-description textarea,
    .subtask-field-description input {
        font-size: 20px;
    }

    select {
        font-size: 20px;
    }

    .prio-img {
        height: 20px;
        width: 28px;
    }

    .txt-img {
        padding: 16px 8px;
    }
}

@media(max-width: 1050px) {
    .buttons {
        width: 40%;
    }
}

@media(max-width: 950px) {
    .main-content h1 {
        font-size: 54px;
    }

    .page-container {
        font-size: 16px;
    }

    .field-description input, 
    .field-description textarea,
    .subtask-field-description input {
        font-size: 16px;
    }

    select {
        font-size: 16px;
    }

    .bottom-container {
        font-size: 16px;
    }

   .buttons button {
        padding: 12px;
    }

    .prio-img {
        height: 18px;
        width: 20px;
    }
}

@media(max-width:650px){
    .page-container {
        flex-direction: column;
    }

    .bottom-container {
        margin-bottom: 150px;
        flex-direction: column;
        gap: 18px;
    }

    .buttons:nth-child(2){
        align-self: flex-end;
        width: 60%;
    }
}

@media(max-width: 450px){
    .buttons:nth-child(2) {
        width: 85%;
    }

    .txt-img {
        padding: 14px 4px;
    }

    .prio-img {
        height: 18px;
        width: 16px;
    }
}

