.add-task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgb(209,209,209, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-img-text {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: #2a3647;
    padding: 16px 30px;
    border-radius: 10px;
}

.overlay-img-text span {
    color: #CDCDCD;
}

.board-icon {
    height: 32px;
    width: 32px;
}

.main-content h1 {
    align-self: flex-start;
    margin: 20px 0;
}

.page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    gap: 40px;
    padding: 20px 0;
    margin-right: 20px;
}

.task-container, .priority-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

select {
    border: 1px solid #D1D1D1;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.separation-bar {
    height: 100%;
    width: 2px;
    background-color: #D1D1D1;
    border-radius: 2px;
}

.priority-stages {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.txt-img {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prio-img {
    height: 24px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.category-list {
    background-color: white;
    border: 1px solid #D1D1D1;
    padding: 8px 0;
    border-radius: 10px;
}

.category-list ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.category-list li {
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.username {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contacts-icons {
    display: flex;
    flex-wrap: wrap;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    margin-top: 80px;
    margin-right: 20px;
}

.bottom-container p {
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
} 

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:first-child{
    background-color: white;
}

.clear-btn {
    background-image: url(../assets/img/cancel_x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}

.buttons button:nth-child(2){
    background-color: #2A3647;
    color: white;
    font-weight: 800;
}
