.priority-stages {
    display: flex;
}

#taskPrirority {
    display: none;
}

#taskCategory {
    display: none;
}

.crate-btn {
    background-image: url(../assets/img/check.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

#btnDialogRight{
    width: auto;
}

.notForShow {
    display: block;
}

#taskPriority{
    display: none;
}

.priority,
.assigned,
.category,
.subtask {
    width: 100%;
}

.add-task-dialog-board {
    border: none;
    position: fixed;    
    top: 0;
    right: 0;
    transform: translateX(100%); 
    transition: transform 125ms ease-in-out;
    z-index: 1000;
}

.add-task-dialog-board.open {
  transform: translateX(0);
}
/* in order for this to apply we need <div>s instead of <dialog>s */

.main-DialogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}


.header-show-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
.add-task-dialog-board .buttons {
    width: 30%;
}
.close-btn-container {
    border-radius: 50px;
}

.close-btn-container button {
    border: none;
    background-color: white;
    height: 20px;
    width: 20px;
    font-size: 24px;
}

.close-btn-container button:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
}

#btnDialogRightContent {
    color: white;
    margin-right: 8px;
}

@media(max-width: 1230px) {
    .add-task-dialog-board .buttons {
    width: 40%;
}
}

@media(max-width: 900px) {
    #buttons_dialog {
        width: 50%
    }
}

@media(max-width: 750px) {
    .taskHeader {
        font-size: 40px;
    }
    .page-container {
        flex-direction: column;
        margin-right: 0;
    }

    .main-DialogContent  {
        position: relative;
        padding-bottom: 0;
    }

    #dialaogBoardTask {
        padding: 16px !important;
    }

    #buttons_dialog {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: 40px;
        left: 4px;
        gap: 2px;
    }
}

@media(max-width: 420px){
     #dialaogBoardTask {
        padding: 12px !important;
    }
    .add-task-dialog-board .txt-img {
        padding: 10px 2px;
        font-size: 15px;
    }

    .add-task-dialog-board .prio-img {
        height: 16px;
        width: 14px;
    }

    #btnDialogRight {
        padding: 16px 4px;
    }

    #btnDialogLeft {
        padding: 14px 4px;
    }
}
