.main-content h1 {
    align-self: flex-start;
    margin: 20px 0;
    font-size: 64px;
}

.field-description,
.subtask-field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

/*
input,
textarea,
select {
    font-size: 24px;
    color: #2A3647;
    background-color: transparent;
    padding: 10px 0;
    border: none;
    cursor: default;
    width: 100%;
}*/

.dropdown,
.contacts-list,
.category-list {
    width: 100%;
    font-size: 24px;
    color: #2A3647;
}

.txt-img {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.bottom-container p {
    display: none;
}

.required {
    display: none;
}

.taskHeader {
    display: none;
}

.priority-stages {
    display: flex;
    width: 100%;
}

.priority-stages .txt-img {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #ccc;
    gap: 6px;
    height: 64px;
}

.header-show-task {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 16px;
}

.field-description input {
    width: 100%;
}

.close-btn-container {
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    border-radius: 50px;
}

#dialaogBoardTask {
    width: 525px;
    border: none;
    border-radius: 30px;
}

#taskPrirority {
    display: block;
}

.alert-container {
    display: none;
}

label {
    white-space: nowrap;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.notForShow {
    display: block;
}

.crate-btn {
    background-image: url(../assets/img/edit_btn_dark.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

button {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border: none;
    background: transparent;
    color: #2a3647;
}

.clear-btn {
    background-image: url(../assets/img/check.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.category {
    display: none;
}

#taskCategory {
    display: none;
}

.field-description {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.field-description span {
    display: inline-flex;
    align-items: center;
}

.main-DialogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.page-container {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond';
    color: black;
    font-family: 'Inter';
    width: 100%;
}


#dialaogBoardTask {
    width: 525px;
}

textarea {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
}

#btnDialogRight {
    display: none;
}

#btnDialogLeft {
    width: 89px;
    height: 57px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
}
#btnDialogLeft :hover{
    background-color: #29abe2 !important;
}

#btnDialogLeftContent{
    color: white;
}

#taskPriority {
    display: none;
}

.prio-img {
    height: 24px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.userName {
    display: none;
}

.close-btn {
    /* position: absolute;
    top: 10px;
    right: 10px;
    background: transparent; */
    border: none;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    padding: 0px;
}

.contacts-icons {
    display: flex;
}

#task_ctrl_box {
    display: none;
}

.subtask-text {
    flex-grow: 1;
    text-align: left;
}

.subtask-list input[type="checkbox"] {
    display: none !important;
}

.subtask-element-img-wrapper button {
    aspect-ratio: 1;
    width: 32px
}

@media (max-width: 650px) {
    #dialaogBoardTask {
        margin-left: 8px;
        margin-right: 8px;
        width: auto;
        padding: 24px;
        left: 16px;
        right: 16px;
    }

    .dropdown,
    .contacts-list,
    .category-list,
    .page-container {
        font-size: 16px;
    }

    .field-description textarea {
        height: 180px;
            padding: 8px 2px;
    }

    .bottom-container{
        margin-bottom: 16px !important;
    }
}