.add-task-dialog-board::-webkit-scrollbar {
    display: none;
}

.field-description,
.subtask-field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

input,
textarea,
select {
    font-size: 24px;
    color: #2A3647;
    background-color: transparent;
    padding: 10px 0;
    border: none;
    cursor: default;
    width: 100%;
}

.dropdown,
.contacts-list,
.category-list {
    width: 100%;
    font-size: 24px;
    color: #2A3647;
    z-index: 1000;
}

.added-tasks {
    position: relative;
    overflow-y: auto;
    max-height: 100px;
}

.add-task-dialog-board {
    border: none;
    z-index: 1000;
    overflow: hidden;
}

.header-show-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.taskHeader {
    display: none;
}

.close-btn-container button {
    border: none;
    background-color: white;
    height: 30px;
    width: 30px;
    font-size: 24px;
    margin-left: auto;
}

.close-btn-container {
    margin-left: auto;
}

.close-btn-container button:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
}

.txt-img {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.txt-img span {
    font-size: 24px;
}

.bottom-container p {
    display: none;
}

.required {
    display: none !important;
}

.priority-stages {
    display: flex;
    width: 100%;
}

.priority-stages .txt-img {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #ccc;
    gap: 6px;
    height: 64px;
    margin: 0 16px;
}


.field-description input {
    width: 100%;
}


#taskPrirority {
    display: block;
}

label {
    white-space: nowrap;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.notForShow {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #2a3647;
    margin-top: 32px;
}

.crate-btn {
    background-image: url(../assets/img/edit_btn_dark.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

button {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border: none;
    background: transparent;
    color: #2a3647;
}


.clear-btn {
    background-image: url(../assets/img/check.svg);
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#btnDialogRight {
    display: none;
}

#btnDialogLeft {
    width: 89px;
    height: 57px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#btnDialogLeft:hover {
    background-color: #29abe2;
}

#btnDialogLeftContent {
    color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.bottom-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.category {
    display: none;
}

#taskCategory {
    display: none;
}

.field-description {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.field-description span {
    display: inline-flex;
    align-items: center;
}

.page-container {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond';
    color: black;
    font-family: 'Inter';
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}

textarea {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
}


#taskPriority {
    display: none;
}

.prio-img {
    height: 24px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.userName {
    display: none;
}

.dropdown {
    padding: 10px 8px;
}

.contacts-icons {
    display: flex;
}

#task_ctrl_box {
    display: none;
}

.subtask-text {
    flex-grow: 1;
    text-align: left;
}

.subtask-list input[type="checkbox"] {
    display: none !important;
}

.subtask-element-img-wrapper button {
    aspect-ratio: 1;
    width: 32px
}

.color-description {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #2a3647;
    margin-top: 32px;
}
.required-mobile{
    display: none;
}

@media(max-width: 950px) {

    .txt-img span,
    .dropdown span {
        font-size: 20px;
    }
}

@media(max-width: 850px) {
    .bottom-container {
        margin-bottom: 1px !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        background: #fff;
        border-top: 0;
        box-shadow: none;
        z-index: 1000;
        flex-shrink: 0;
    }
}

@media (max-width: 650px) {

    .dropdown,
    .contacts-list,
    .category-list,
    .page-container {
        font-size: 16px;
    }

    .page-container {
        flex: 1;

        padding-bottom: 200px;
    }

    .field-description textarea {
        height: 180px;
        padding: 8px 2px;
    }

    .bottom-container {
        margin-bottom: 1px !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        background: #fff;
        border-top: 0;
        box-shadow: none;
        z-index: 1000;
        flex-shrink: 0;
    }

    .priority-stages .txt-img {
        margin: 0 2px;
        height: 48px;
    }

    .notForShow {
        margin-top: 16px;
    }
}

@media(max-width: 500px) {
    .add-task-dialog-board .priority-stages {
        gap: 2px
    }

    .add-task-dialog-board .txt-img {
        padding: 10px 2px;
        margin: 0;
    }

    .add-task-dialog-board .txt-img span {
        font-size: 16px;
    }

    .add-task-dialog-board .prio-img {
        height: 16px;
        width: 14px;
    }

    .dropdown span {
        font-size: 18px;
    }
}

@media(max-width: 420px) {
    .add-task-dialog-board .priority-stages {
        gap: 2px;
    }

    .priority-stages .txt-img {
        gap: 2px;
    }
}