#board-Content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 256px;
    gap: 24px;
    padding: 24px;
    overflow-x: auto;
}

body {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.column {
    flex: 1;
    width: 256px;
    gap: 32px;
    margin-right: 64px;
    flex-direction: column;
    min-width: 250px;
}

.columnHeader {
    align-items: center;
    /* height: 64px; */
    flex: 1;
    display: flex;
    justify-content: space-between;

}

.drag-area {
    min-height: 200px;
    /* background-color: rgba(0, 0, 0, 0.05);
    border: 2px dashed #333;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s; */
    flex: 1;
    overflow-y: auto;
    min-height: 60vh;
}

.todo {
    background-color: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: grab;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 128px;
    margin-left: 128px;
    max-width: 1000px;
    width: 100%;
}

.boardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.noEntry {
    background-color: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background: #E7E7E7;
    color: #A8A8A8;
}

.previewTask {
    background-color: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background: #E7E7E7;
    color: #A8A8A8;
}

.draggedImage {
  transform: rotate(5deg);
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}


.hideTaskContent {
  color: transparent;
  background-color: transparent;
  border: 1px solid black;
}

.hideTaskContent * {
  visibility: hidden;
}


.taskStatus.user-story {
    background: #0038ff;
}

.taskStatus.technical-task{
    background: #1fd7c1;
}


.taskStatus {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    width: fit-content; 
}