body:has(dialog[open]){
    overflow: hidden;
}

.main-content h1 {
    align-self: flex-start;
    margin: 20px 0;
    font-size: 64px;
}

.field-description,
.subtask-field-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

input,
textarea,
select {
    all: unset;
    font-size: 24px;
    color: #2A3647;
    background-color: transparent;
    padding: 10px 0;
    border: none;
    cursor: default;
    pointer-events: none;
    width: 100%;
}

.dropdown,
.contacts-list,
.category-list {
    all: unset;
    font-size: 24px;
    color: #2A3647;
}

.txt-img {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

ul{
    display: inline-block;
    padding-left: 0px;
    margin: 0 5px;

}

.subtask-list {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 10px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

.subtask-list:hover{
    background-color: #F5F5F5;
}

.subtask-list::before {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.subtask-list span {
    flex: 1;
}

.subtask-list .checkbox-container {
    flex-shrink: 0;
}

.bottom-container p {
    display: none;
}

.required {
    display: none;
    font-size: 0px;
}

.taskHeader {
    display: none;
}

.priority-stages {
    display: none;
}

#taskPrirority {
    display: block;
}

.alert-container {
    display: none;
}

label {
    white-space: nowrap;
}

.color-description{
    color: #42526E;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.notForShow {
    display: none;
}

.crate-btn {
    background-image: url(../assets/img/edit_btn_dark.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

button {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border: none;
    background: transparent;
    color: #2a3647;
}

.clear-btn {
    background-image: url(../assets/img/trash_bin.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.header-show-task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.close-btn-container{
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    border-radius: 50px;
}

.close-btn-container:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.close-btn {
    border: none;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    padding: 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.category {
    display: none;
}

.field-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-bottom: 16px;
}

.field-description label {
    flex: 0 0 150px;
    text-align: left;
}

.field-description input {
    flex: 1;
    pointer-events: auto;
    padding: 8px;
    border-radius: 4px;
}


.field-description span {
    display: inline-flex;
    align-items: center;
}

.main-DialogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.page-container {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond';
    color: black;
    font-family: 'Inter';
    width: 100%;
}


#dialaogBoardTask {
    width: 525px;
    border: none;
    border-radius: 30px;
}

#dialaogBoardTask::-webkit-scrollbar{
    display: none;
}

textarea {
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
}

#btnDialogRight {
    display: block;
}

.contact-circle {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
}

#assigned_to {
    display: none;
}

.assignedUser{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
}

.userName{
    display: block;
}

#task_title{
    font-size: 50px;
    font-weight: bold;
}

.title-indication{
    font-size: 60px;
    font-weight: bold;
}

.task-priority{
    padding-left: 92px;
    display: flex;
    gap: 8px;
}

#assigned_box{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacts-icons{
    padding-left: 16px;
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
}

.checkbox-container{
    height: 24px;
    width: 24px;
    background-image: url('../assets/img/check_button_unchecked.svg');
    background-repeat: no-repeat;
    background-position: left 0px center;
    background-size: 24px 24px;
}

.checkbox-container:hover{
    cursor: pointer;
    background-image: url('../assets/img/check_button_hover_disable.svg');
}

.checkbox-checked{
    min-height: 24px;
    min-width: 24px;
    cursor: pointer;
    background-image: url('../assets/img/check_button_checked.svg');
    background-repeat: no-repeat;
    background-position: left 0px center;
    background-size: 24px 24px;
}

.checkbox-checked:hover{
    cursor: pointer;
    background-image: url('../assets/img/check_button_hover_checked.svg');
}

.subtask-actions{
    display: none;
}

.bottom-container{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 32px;
}

.hidden{
    display: none;
}

.task-ctrl-box{
    display: flex;
    gap: 8px;
}

.border-line{
    border: unset;
    border-left: 1px solid #D1D1D1;
}

.btn-task-ctrl{
    cursor: pointer;
}

.description-indication{
    color: black;
}

@media(max-width:650px){
    #dialaogBoardTask{
        margin-left: 8px;
        margin-right: 8px;
        width: auto;
        padding: 24px;
        left: 16px;
        right: 16px;
    }

    .title-indication{
        font-size: 36px;
    }

    textarea{
        font-size: 16px;
        height: auto;
    }
}

@media(max-width:450px){
    .field-description label{
        flex: 0 0 100px;
    }

    .task-priority{
        padding-left: 42px;
    }
}