body{
    margin: 0;
    box-sizing: border-box;
}

main{
    /* max-width: 1440px;
    margin: 0 auto; */
    justify-content: unset;
    padding-left: 200px;
    overflow-x: hidden;
}

.contacts-container{
    display: flex;
    gap: 0;
}

.contacts-list{
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
    /* border-top: 1px solid rgb(224, 222, 222); */
    overflow-y: auto;
    max-height: calc(100vh - 96px);
    position: fixed;
    top: 96px;
}

.btn-add-contact-container{
    padding-top: 50px;
    padding-bottom: 16px;
    padding-right: 16px;
    position: fixed;
    background-color: white;
    z-index: 10;
}

.btn-contact{
    padding: 12px 16px;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
}

.btn-contact:hover{
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.btn-contact:active{
    background-color: #091931;
    transform: translateY(0);
}

.btn-add-contact-box{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-add-contact-box span{
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.contacts-content{
    padding-top: 180px;
    padding-left: 400px;
}

.head-contacts{
    display: flex;
    gap: 32px;
    align-items: center;
}

.head-description{
    font-size: 60px;
    font-weight: 700;
}

.line{
    height: 59px;
    border-left: 3px solid #29ABE2;
}

.aside-description{
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
}

.btn-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.btn-contact span{
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.btn-contact:active{
    border-color: #091931;
    transform: translateY(0);
}

@media(max-width:1180px){
    .contacts-content{
        padding-left: 280px;
    }

    .line{
        height: 50px;
        border-left: 2px solid #29ABE2;
    }

    .head-contacts{
        gap: 12px;
    }

    .head-description{
        font-size: 42px;
    }

    .aside-description{
        font-size: 18px;
    }

    .contacts-list{
        padding-left: 16px;
        padding-right: 12px;
    }

    .btn-contact span{
        font-size: 16px;
    }

    .btn-contact img{
        width: 24px;
        height: 24px;
    }

    .btn-add-contact-container{
        padding-left: 8px;
        padding-right: 10px;
    }
}

@media(max-width:850px){
    .contacts-content{
        display: none;

    }

    .contacts-list{
        width: 100%;
        left: 0px;
        max-height: calc(100vh - 198px);
    }

    .btn-add-contact-container{
        display: none;
    }
}