.contactlist-container{
    padding-top: 120px;
}

.contactID {
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
}

.contactID-hover {
    background: linear-gradient(to top, #F0F0F0, #F9F9F9);
}

.contactID-activated{
    background-color:  #2A3647;
}

.contactAvater {
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
}

.contact-name{
    color: black;
    word-break: break-word;
}

.contact-name-override{
    color: white !important;
}

.contact-email{
    color: #007CEE;
}

.contact-entry {
  display: inline-block;      
  width: 18ch;                 
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis;     
}

h5{
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.capitalLatter{
    padding-bottom: 8px;
}

.hr-underline{
    border-top: 1px solid #d1d1d1;
}

.add-contact-mobile{
    display: none;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: #2A3647;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 130px;
    right: 20px;
    z-index: 10;

}

.add-contact-mobile:hover{
    cursor: pointer;
}

.add-contact-mobile:active{
    background-color: #29ABE2;
}

@media(max-width:1180px){
    .contactID{
        gap: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    h5{
        padding-left: 20px;
    }

    .contactAvater{
        min-width: 36px;
        min-height: 36px;
        font-size: 14px;
    }

    .contact-name{
        font-size: 14px;
    }

    .contact-email{
        font-size: 14px;
    }
}

@media(max-width:850px){
    .contactlist-container{
        padding-top: 0px;
    }

    .contactlist-content{
        padding-top: 0px;
    }

    .contactAvater{
        min-width: 42px;
        min-height: 42px;
        font-size: 16px;
    }

    .contact-name{
        font-size: 16px;
    }

    .contact-email{
        font-size: 16px;
    }

    .contactID{
        gap: 18px;
        padding-left: 18px;
    }

    .contactID-activated{
         background: linear-gradient(to top, #F0F0F0, #F9F9F9);
    }

    .add-contact-mobile{
        display: block;
    }
}