.contact-show-design{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.contact-head{
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 54px;
}

.contact-circle{
    height: 120px;
    width: 120px;
    border: 2px solid white;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-circle span{
    color: white;
    font-size: 47px;
    font-weight: 500;
}

.name-line{
    font-size: 47px;
    font-weight: 500;
}

.contact-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-ctrl-box{
    display: flex;
    gap: 16px;
}

.btn-contact-ctrl{
    cursor: pointer;
}

.contact-info-span{
    font-size: 20px;
    font-weight: 400;
}

.contact-data-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bold-line{
    font-size: 16px;
    font-weight: bold;
}

.mail-info-box{
    font-size: 16px;
    font-weight: 400;
    color: #007CEE;
}

.phone-info-box{
    font-size: 16px;
    font-weight: 400;
}

@media(max-width:1180px){
    .contact-head{
        gap: 24px;
    }

    .contact-circle{
        height: 80px;
        width: 80px;
        border-radius: 50px;
    }

    .contact-circle span{
        font-size: 32px;
    }

    .name-line{
        font-size: 32px;
    }
}

@media(max-width:850px){
    .contact-head{
        padding-top: 60px;
    }
}