.contactlist-content{
    padding-top: 120px;
}

.contactID {
    display: flex;
    gap: 18px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
}

.contactID-hover {
    background: linear-gradient(to top, #F0F0F0, #F9F9F9);
}

.contactID-activated{
    background-color:  #2A3647;
}

.contactAvater {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
}

.contact-name{
    color: black;
}

.contact-name-override{
    color: white !important;
}

.contact-email{
    color: #007CEE;
}

h5{
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.capitalLatter{
    padding-bottom: 8px;
}

.hr-underline{
    border-top: 1px solid #d1d1d1;
}

@media(max-width:1180px){
    .contactID{
        gap: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    h5{
        padding-left: 20px;
    }

    .contactAvater{
        width: 36px;
        height: 36px;
        font-size: 14px;
    }

    .contact-name{
        font-size: 14px;
    }

    .contact-email{
        font-size: 14px;
    }
}

@media(max-width:850px){
    .contactlist-content{
        padding-top: 0px;
    }

    .contactAvater{
        width: 42px;
        height: 42px;
        font-size: 16px;
    }

    .contact-name{
        font-size: 16px;
    }

    .contact-email{
        font-size: 16px;
    }

    .contactID{
        gap: 18px;
        padding-left: 18px;
    }

    .contactID-activated{
         background: linear-gradient(to top, #F0F0F0, #F9F9F9);
    }
}