.contactID {
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
}

.contactID:hover {
    background-color:  #2A3647;
;
}

.contactAvater {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
}

.contact-name{
    color: black;
}

.contact-email{
    color: #007CEE;
}