.contactlist-content{
    padding-top: 120px;
}

.contactID {
    display: flex;
    gap: 18px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
}

.contactID:hover {
    background-color:  #2A3647;
}

.contactAvater {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: #fff 2px solid;
}

.contact-name{
    color: black;
}

.contact-email{
    color: #007CEE;
}

h5{
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.capitalLatter{
    padding-bottom: 8px;
}

.hr-underline{
    border-top: 1px solid #d1d1d1;
}