body.help p:not(:is(aside p)):not(:is(footer p)) {
  color: black;
  line-height: 20px;
  text-align: justify;
}

.title-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow-left {
    position: fixed;
    cursor: pointer;
}

.arrow-left:hover {
    transform: scale(1.1);
    background-color: #e0e1e2f8;
    border-radius: 20px;
}

.main-content {
  width: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: break-word;
  word-break: break-word;
  z-index: -1;
}

.blue {
    color: #29ABE2;
}

.dark-blue {
    color: blue;
}

.help h2 {
    font-size: 32px;
}

.help h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

li::marker {
    font-size: 27px;
    font-weight: 700;
}

li {
    padding-left: 40px;
}

.no-padding {
    padding-left: 8px;
}

.ending {
    font-size: 32px;
    font-weight: 700;
}

@media(max-width: 850px) {
    .main-content {
        padding-bottom: 120px;
        padding-top: 40px;
    }

    .arrow-left {
    position: sticky;
}
}

@media(max-width: 450px) {
    li {
    padding-left: 20px;
}
}