<<<<<<< HEAD
/* Header styling */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}
=======
>>>>>>> dc262b7c066637b8c10ffdef942c37e7f67d8a61


.main-content p {
    color: black;
    line-height: 20px;
    text-align: justify;
}

.main-content h1 {
    font-size: 61px;
}

.main-content h3 {
    font-size: 27px;
    padding-top: 32px;
}

.main-content h5 {
    font-size: 18px;
    padding-top: 24px;
}

.main-content li{
    font-size: 16px;
}

.main-content a{
    color: #29ABE2;

}
