body.legal-notice p:not(:is(aside p)):not(:is(footer p)){
    color: black;
    line-height: 20px;
    text-align: justify;
}

.main-content p {
    color: black;
    line-height: 20px;
    text-align: justify;
}

.main-content h1 {
    font-size: 61px;
}

.main-content h3 {
    font-size: 27px;
    padding-top: 32px;
}

.main-content h5 {
    font-size: 18px;
    padding-top: 24px;
    margin-bottom: 10px;
}

.main-content li{
    font-size: 16px;
}

.main-content a {
    color: #29ABE2;
}

@media(max-width: 850px) {
    .title-arrow {
        margin-top: 20px;
    }
}

@media(max-width: 400px) {
    .main-content h1 {
        font-size: 50px;
    }
}
