:root {
  --mainColor: #2a3647;
  --mainColorHover: #29ABE2;
  --maxWidth: 1440x;
}

body {
  background: #F6F7F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
}

.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 0;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  max-width: 652px;
}

.loginTitle {
  font-weight: 700;
  font-size: 61px;
  margin-bottom: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-underline {
  border: 2px solid #29ABE2;
  width: 150px;
}

.headerContent {
  height: 240px;
  max-width: var(--maxWidth);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 64px 0 64px;
  background: unset;
  box-shadow: unset;
}

.formMailIcon {
  background-image: url(../assets/img/mail.svg);
}

.formPassIcon {
  background-image: url(../assets/img/lock.svg);
}

.inputLogin {
  padding: 14px 20px;
  font-size: 18px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 420px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 22px 22px;
}

#txtPassword {
  margin-top: 30px;
}

.inputFail {
  border: 1px solid #E60026;
}

.inputFocus {
  border: 1px solid #29ABE2
}

.mainContent {
  max-width: var(--maxWidth);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 320px);
}



.logo {
  width: 100px;
  height: 122px;
  top: 80px;
  left: 77px;
}

.btn {
  border: solid 1px var(--mainColor);
  border-radius: 8px;
  padding: 15px 24px;
  transition: ease-in-out 125ms;
  cursor: pointer;
}

.btnPrimary {
  color: white;
  background: var(--mainColor);
}

.btnPrimary:hover {
  background-color: var(--mainColorHover);
}

.btnPrimaryClicked {
  background-color: #091931;
}

.btnSecondary {
  background: white;
  color: var(--mainColor);
}

.btnSecondary:hover {
  border: 2px solid #29ABE2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 5px 16px;
}

.loginFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFooter a {
  text-align: center;
  color: #a8a8a8;
  text-decoration: none;
  cursor: pointer;
  width: 112px;
}

.lblSignUp {
  font-weight: 400;
  font-size: 20px;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnLoginContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#loginStatus {
  width: 100%;
  text-align: center;
  color: #E60026;
  font-weight: 400;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 12px;
}

.logoSplash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: top 1s ease-in-out, left 1s ease-in-out, transform 1s ease-in-out;
  max-width: var(--maxWidth);
}

.logoSplash.animate {
  top: 88px;
  left: 64px;
  transform: translate(0, 0);
  max-width: var(--maxWidth);
}

.maxWidth {
  max-width: var(--maxWidth);
}


.logoSplashImg {
  width: 275px;
  height: 330px;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.logoSplash.animate .logoSplashImg {
  width: 100px;
  height: 122px;
  max-width: var(--maxWidth);
}

.d-None {
  display: none;
}

.d-block {
  display: block;
}

.onlyMobile {
  display: none;
}

.onlyDesktop {
  display: block;
}

@media (max-width: 768px) {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none;
  }

  .inputLogin {
    width: 364px;
  }

  .loginContent {
    max-width: 396px;
  }

  .mobileBodyStart {
    background-color: #2A3647;
  }

  .btnLoginContent {
    flex-direction: column;
  }

  .headerContent {
    height: 120px;
  }

  .headerContent img {
    height: 64px;
    width: 78px;
  }

  .mainContent {
    height: calc(100vh - 256px);
  }

  .signUp {
    padding-top: 32px;
  }

  .loginFooter {
    height: 128px;
  }

}