header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}


footer {
    display: none;
    gap: 8px;
}

.aside-policy-links.active {
    background-color: #091931;
    padding: 8px 20px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.legal-notice-container a.active {
    font-size: 16px;
    color: #cdcdcd;
}

.policies-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.policies-container a {
    color: #cdcdcd;
}

.footer-policy-links.active {
    background-color: #091931;
    padding: 16px ;
    border-radius: 20px;
    color: #cdcdcd;
}

@media(max-width: 850px) {
    header {
        padding: 20px 0;
    }

    footer {
        display: flex;
    }
}

@media(max-width: 600px) {
    .policies-container {
        width: 100%;
    }

    .sidebar-menu-elements {
        width: 44%;
        padding-left: 0;
        gap: 2px;
    }
}

@media(max-width: 410px) {
    footer {
        font-size: 14px;
    }

    .sidebar-menu-elements {
        width:35%;
    }

    .policies-container {
        padding: 12px 8px;
    }

     .privacy-policy-title {
        font-size: 50px;
    }
}

@media(max-width: 360px) {

    .footer-policy-links.active {
        text-align: center;
        padding: 12px 8px;
    }
}
