*{
    box-sizing: unset !important;
    /* margin: none; */
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(246,247,248);
}

.signup-container{
    min-height: calc(100vh - 284px);
    max-width: 1440px;
    margin: 0 auto;
    /* padding-bottom: 64px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-left: 80px;
    padding-top: 80px;
}

header img{
    height: 120px;
    width: 100px;
}

.user-form-container{
    padding: 48px;
    width: 500px;
    background-color: white;
    border-radius: 30px;
    font-family: 'Inter';
    box-shadow: 0px 0.1px 3px rgb(208, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.headline-container{
    width: 100%;
    display: flex;
    gap: 115px;
}

.headline-container span{
    color: black;
    font-weight: bold;
    font-size: 61px;
}

.headline-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.headline-underline{
    border: 2px solid #29ABE2;
    width: 150px;
}

.btn-arrow-container{
    padding-top: 8px;
}

.img-arrow-left{
    height: 32px;
    width: 32px;
}

.btn-arrow-left{
    border-radius: 50px;
    height: 32px;
}

.btn-arrow-left:hover{
    background-color: #EEEEEE;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

input::placeholder{
    opacity: 0.4;
}

.bg-input{
    width: 420px;
    padding: 14px 20px;
    font-size: 18px;
    color: black;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 22px 22px;
}

.bg-input:focus{
    outline: 1px solid #29ABE2;
}

.bg-img-name{
    background-image: url('../assets/img/person_icon.svg');
}

.bg-img-mail{
    background-image: url('../assets/img/mail.svg');
}

.bg-img-lock{
    background-image: url('../assets/img/lock.svg');
}

.bg-img-visible{
    background-image: url('../assets/img/visibility_on.svg');
}

.bg-img-invisible{
    background-image: url('../assets/img/visibility_off.svg');
}

.bg-invalid-input{
    border: 1px solid #E60026 !important;
}

.check-policy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.check-policy-container span{
    color: #A8A8A8;
    font-size: 16px;
}

.check-policy-container a{
    font-size: 16px;
    text-decoration: none;
    color: #29ABE2;
}

.checkbox-unchecked{
    height: 32px;
    width: 32px;
    background-image: url('../assets/img/check_button_unchecked.svg');
    background-repeat: no-repeat;
    background-position: left 0px center;
    background-size: 24px 24px;
}

.checkbox-unchecked:hover{
    cursor: pointer;
    background-image: url('../assets/img/check_button_hover_disable.svg');
}

.checkbox-checked{
    height: 32px;
    width: 32px;
    cursor: pointer;
    background-image: url('../assets/img/check_button_checked.svg');
    background-repeat: no-repeat;
    background-position: left 0px center;
    background-size: 24px 24px;
}

.checkbox-checked:hover{
    cursor: pointer;
    background-image: url('../assets/img/check_button_hover_checked.svg');
}

.btn-box{
    display: flex;
    justify-content: center;
}

.btn-signup{
    width: 150px;
    background-color: #2A3647;
    border: unset;
    color: white;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: bold;
    padding: 15px 24px;
    border-radius: 8px;
    transition: all 0.15s ease;
}

.btn-signup:hover{
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.btn-signup:active{
    background-color: #091931;
    transform: translateY(0);
}

footer{
    padding-top: 14px;
    padding-bottom: 50px;
}

.footer-box{
    text-align: center;
}

.footer-box a{
    display: inline-block;
    font-size: 16px;
    font-family: 'Inter';
    text-decoration: none;
    color: #A8A8A8;
    padding-right: 24px;
    transition: all 0.15s ease;
}

.footer-box a:hover{
    cursor: pointer;
    color: #29ABE2;
    font-weight: bold;
    transform: translateY(-1px);
}

.dialog-design{
    background-color: #2A3647;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0.1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Inter';
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(700%);
}

.dialog-design span{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.opened{
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.25s ease-in;
}

.dialog-design::backdrop{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.opened::backdrop{
    opacity: 1;
    transition: all 0.25s ease-in;
}

.info-input{
    padding-left: 8px;
    font-size: 14px;
    color: #E60026;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

@media(max-width:950px){
    .signup-container{
        min-height: calc(100vh - 260px);
    }

    header{
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 64px;
    }

    header img{
        height: 80px;
        width: 64px;
    }
}

@media(max-width:650px){
    form{
        width: 100%;
        align-items: unset;
    }

    .signup-container{
        padding-left: 16px;
        padding-right: 16px;
    }

    .user-form-container{
        width: 90%;
        padding: 32px 16px;
    }

    .headline-space{
        width: 100%;
        padding-right: 32px;
        text-align: center;
    }

    .headline-container{
        gap: 0;
    }

    .headline-container span{
        font-size: 47px;
    }

    .btn-signup{
        font-size: 16px;
    }

    .bg-input{
        width: unset; 
    } 

    .input-container{
        /* width: auto; */
        display: flex;
        flex-direction: column;
    }
}