/* Header styling */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding-right: 8px;
    margin-left: 80px;
    position: relative;
}

.mobile-navbar-logo {
    width: 32px;
    height: 39px;
    display: none;
}

nav p {
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.user-help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.user-help-container img {
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.user-help-container img:hover {
    height: 32px;
    width: 32px;
}

.nav-user-btn {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    cursor: pointer;
    color: #29ABE2;
    font-weight: 800;
    font-size: 20px;
    background-color: white;
    border: 3px solid #2a3647;
}

.nav-user-btn:hover {
    background-color: #e1e6ec;
}

.nav-user-btn.active {
    background-color: #e1e6ec;
}

.desktop-submenu {
    position: absolute;
    top: 76px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a3647;
    height: 150px;
    width: 160px;
    border-radius: 20px 0 20px 20px;
}

.mobile-submenu {
    position: fixed;
    top: 95px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a3647;
    height: 185px;
    width: 160px;
    border-radius: 20px 0 20px 20px;
    transform: translateX(110%);
    transition: transform 125ms ease-in-out;
    z-index: 1000;
}

.mobile-submenu.open {
  transform: translateX(0);
}

.desktop-submenu a, .mobile-submenu a {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    transition: 100ms ease-in-out;
    width: 90%;
}

.desktop-submenu a:hover, .mobile-submenu a:hover {
    background-color: #2a3d59;
    transform: scale(1.015);
}

/* Styling of the mobile overlay */
.mobile-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms ease-in-out;
}

.mobile-overlay p {
    font-size: 36px;
    color: #2A3647;
    text-align: center;
}

.mobile-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Aside styling */
aside {
    background-color: #2a3647;
    padding: 60px 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

aside a, p {
    color: #cdcdcd;
}

.sidebar-logo {
    height: 150px;
    width: 150px;
}

.sidebar-components {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.sidebar-menu-elements {
    display: flex;
    align-items: center;
    gap: 20px; 
    width: 100%;              
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
}

.sidebar-menu-elements img{
    height: 32px;
    width: 32px;
}


.sidebar-menu-elements:hover {
    background-color: #2a3d59;
    transform: scale(1.015);
}

.sidebar-menu-elements.active {
    background-color: #091931;
}

.sidebar-menu-elements.active p {
    color: white;
}

.sidebar-menu-elements.active img {
    filter: brightness(0) invert(1);
}

.legal-notice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
}

.legal-notice-container a:hover {
    color: #29ABE2;
    font-size: 17px;
}

/* Main styling*/

main {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-top: 150px;
    margin-bottom: 20px;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-bottom: 40px;
}

.divider-line {
    height: 60px;
    width: 4px;
    background-color: #29abe2;
    border-radius: 2px;
}

.page-title span {
    font-size: 28px;
    color: #2A3647;
}

.page-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
}

.greeting p {
    font-size: 47px;
    color: #2A3647;
    padding-right: 20px;
    font-weight: 500;
}

.to-do {
    display: flex;
    justify-content: space-between;
}

.to-do-container, .done-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    border-radius: 30px;
    padding: 32px 40px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.edit-icon {
  width: 38px;
  height: 38px;
  background-image: url('../assets/img/edit_btn.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.done-icon {
    width: 38px;
    height: 38px;
    background-image: url('../assets/img/checkbox.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-wrapper {
  height: 60px;
  width: 60px;
  background-color: #2a3647;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do-container-numbers, .done-container-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 64px;
    font-weight: 600;
    color: black;
}

h3 {
    font-size: 20px;
    color: #2A3647;
}

h4 {
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
    text-align: center;
}

.urgent-icon-wrapper {
    height: 60px;
    width: 60px;
    background-color: #ff3d00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urgent-icon {
    width: 38px;
    height: 38px;
    background-image: url('../assets/img/prio_urgent_white.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stats-divider-line {
    height: 100px;
    width: 2px;
    background-color: #D1D1D1;
}

.datum-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.datum-container p {
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
}

.datum-container span {
    font-size: 16px;
    color: #2A3647;
}

.tasks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3647;
    padding: 20px 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-menu-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.footer-menu-elements.active {
  background-color: #091931;
  padding: 16px;
  border-radius: 20px;
}

.footer-menu-elements.active p {
    color: white;
}

.footer-menu-elements.active img {
  filter: brightness(0) invert(1);
}


/* Hover effects */

.to-do-container:hover,
.done-container:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.030);
}

.to-do-container:hover h2,
.to-do-container:hover h3,
.to-do-container:hover h4,
.done-container:hover h2,
.done-container:hover h3,
.done-container:hover p,
.done-container:hover span {
  color: white;
}

.to-do-container:hover .icon-wrapper,
.done-container:hover .icon-wrapper {
  background-color: white;
}

.to-do-container:hover .edit-icon {
  background-image: url('../assets/img/edit_btn_dark.svg');
}
.done-container:hover .done-icon {
  background-image: url('../assets/img/checkbox_dark.svg');
}

/* Media queries */

@media (max-width: 1800px){
   nav,
   .main-content {
    margin-left: 200px;
    padding-left: 20px;
   }
}

@media (max-width: 1500px) {
    .stats {
        width: 50%;
    }

    .main-content {
        transform: scale(0.9);
        margin-top: 80px;
    }
}

@media (max-width: 1300px) {
    .stats {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .greeting {
        display: none;
    }

    .stats {
        width: 80%;
    }

    .page-info {
        padding-right: 20px;
    }
}

@media (max-width: 900px) {
    .stats {
        width: 100%;
    }
}

@media (max-width: 850px) {
    header {
        z-index: 100;
    }

    aside {
        display: none;
    }

    .main-content {
        margin-bottom: 20px;
        margin-top: 0;
        transform: scale(0.7);
    }

    .page-title {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 24px;
    }

    .divider-line {
        width: 90px;    
        height: 4px;
    }

    .page-info {
        justify-content: center;
    }

    .stats {
        width: 100%;
    }

    nav, .main-content {
        margin-left: 0;
    }

    nav p {
        display: none;
    }

    .mobile-navbar-logo {
        display: block;
    }

    .help-btn {
        display: none;
    }

    .desktop-submenu {
        display: none;
    }

    footer {
        display: flex;
        padding: 8px 0;
    }

    .footer-menu-elements {
        transform: scale(0.8);
    }
}

@media(max-width:550px) {
    h1 {
        font-size: 47px;
    }

    .main-content {
        margin-bottom: 0;
        margin-top: 80px;
        transform: scale(0.8);
    }

    .page-title span {
    font-size: 24px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 14px;
    }

    #datum {
        font-size: 16px;
    }

    .datum-container span {
        font-size: 14px;
    }

    .to-do-container, .done-container {
        padding: 24px 30px;
    }
}

@media (max-width:450px) {
    .icon-wrapper, .urgent-icon-wrapper {
        height: 48px;
        width: 48px;
    }

    .edit-icon, 
    .done-icon,
    .urgent-icon {
        height: 32px;
        width: 32px;
    }

   .datum-container {
    display: block;
   }

   .to-do-container, .done-container {
        padding: 16px 10px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }
}

@media(max-width: 350px) {
    .urgent-icon-wrapper {
        height: 45px;
        width: 80px;
    }

    .urgent-icon {
        height: 28px;
        width: 28px;
    }
}

